body {
  margin: 0;
  padding: 0;
}

.navbar {
  margin: 0;
  padding: 0;
}
.container-fluid {
  background-color: rgb(26, 75, 122);
}

.nav-item > a {
  color: aliceblue;
}

#carouselExampleCaptions img {
  height: 75vh;
  object-fit: cover;
}

h1 {
  text-align: center;
  font-family: sans-serif;
}

p {
  text-align: center;
  padding: 20px;
}
